<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Tarea</title>
  <link
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
          crossorigin="anonymous"
  />
  <script
          defer
          src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
          crossorigin="anonymous"
  ></script>

  <!--Es la forma en la que podemos acceder a un archivo de estilos propio-->
<!--  <link rel="stylesheet" th:href="@{/styles/style.css}" />-->
</head>
<body>
<h1 class="text-center fw-bold my-5">Formulario</h1>

<div class="container d-flex justify-content-center">
  <form class="w-50 bg-light rounded-3 p-5"
        th:object="${nuevaTarea}"
        th:action="${action}"
        method = "post"
  >
    <div class="form-floating mb-3">
      <!--th:field: Sirve para hacer la vinculación entre lo que ingresa en el input y en que atributo de nuestro objeto lo queremos almacenar -->
      <!--Duda: th-->
      <input
              type="text"
              class="form-control"
              id="titulo"
              placeholder="Titulo"
              th:field = "*{titulo}"
              th:value="${nuevaTarea.titulo}"
      />
      <label for="titulo">Titulo</label>
    </div>

    <div class="form-floating mb-3">
      <input
              type="text"
              class="form-control"
              id="descripcion"
              placeholder="Descripcion"
              th:field = "*{descripcion}"
              th:value="${nuevaTarea.descripcion}"
      />
      <label for="descripcion">Descripcion</label>
    </div>

  <!--  <div class="form-floating mb-3">



      <input
              type="text"
              class="form-control"
              id="estado"
              placeholder="Estado"
              th:field = "*{estado}"
              th:value="${nuevaTarea.estado}"
      />
      <label for="estado">Estado</label>
    </div>
-->
      <div class="form-floating mb-3">
        <select id="estado" th:value="${nuevaTarea.estado}"  th:field = "*{estado}" class="form-select" aria-label="Default select example">
          <option selected disabled value="">Selecciona el estado</option>
          <option value="Pendiente">Pendiente</option>
          <option value="Finalizada">Finalizada</option>
        </select>
        <label for="estado">Estado</label>
      </div>




    <input type="hidden" th:value="${nuevaTarea.fechaCreacion}"  th:field="*{fechaCreacion}" />
    <input type="hidden" th:value="${nuevaTarea.horaCreacion}"   th:field="*{horaCreacion}" />


    <div class="d-flex gap-3">
      <button type="submit" class="btn btn-primary">Enviar</button>
      <a href="/" class="btn btn-secondary">Cancelar</a>
    </div>
  </form>
</div>
</body>
</html>